*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';   
    overflow-x: hidden;
   
}
.container{
    height: 100vh;
    width: 100vw;
    background: url('./assets/Background-.png') no-repeat;
    background-size: 100%;
    position: relative;
}
.popup{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 2rem 35vw;
    background-color: white;
    padding: 1.4rem;
    border-radius: 30px;
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup p{
    height: max-content;
    text-overflow: ellipsis;
    font-weight: bold;
}
.car{
    position: absolute;
    bottom: -280px;
    left: -700px;
    transform: scale(0.7);
}


@keyframes carMove1{
    from{ left: -700px;}
    to{left: 100%;}
}

@keyframes carMove2{
    from{ left: -1400px;}
    to{left: 2300px;}
}


.cars .car{
    
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}
.cars.active .car{
    animation-play-state: running;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.cars.active .car-1{
    animation-name: carMove1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.cars.active .car-2{
    animation-name: carMove2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}



.lights{
    position: absolute;
    right: 8.2%;
    top: 5%;
}
.red.active{
    background-color: red;
}
.green.active{
    background-color: rgb(109, 230, 84);
}
.amber.active{
    background-color: rgb(255, 187, 0);
}

.light{
    display: block;
    height: 34px;
    width: 34px;
    margin: 1rem 0;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 30px;
    background-color: gray;
}

.cta{
    position: absolute;
    bottom:  20px;
    right: 100px;
}

.start-btn{
    display: inline-block;
    height: 40px;
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(75, 255, 129);
    border-radius: 30px;
    border: none;
    cursor: pointer;
}